# Assignment 04: Python Crash Course Practice (Chapters 2 - 4)

Assignment 04: Python Crash Course Practice (Chapters 2 - 4) by ABID ALI

# Part 1: Variables & Input

# ✅ Q1. Favorite Movie Intro
Ask the user for:

Their name

Their favorite movie

Print a sentence like: Ali’s favorite movie is Interstellar.

In [ ]:
name = input("What is your name? ")                 # Ask  user for name
movie = input("What is your favorite movie? ")      # Ask user for their favorite movie
print(f"{name}'s favorite movie is {movie}.")       # Print the sentence

What is your name? ABID ALI
What is your favorite movie? Ganji
ABID ALI's favorite movie is Ganji.

# Q2. Case Converter
Ask the user to enter a word.

Print:

The word in uppercase

The word in lowercase

The word in title case

In [ ]:
word = input("Enter a word: ")                     # Ask the user to enter a word
print("Uppercase:", word.upper())                   # Print the word in different cases    #print statement with different arguments.
print("Lowercase:", word.lower())
print("Title Case:", word.title())

Enter a word: abid ali
Uppercase: ABID ALI
Lowercase: abid ali
Title Case: Abid Ali

# ✅ Q3. Simple Math with Input
Ask the user to input two numbers using input()

Convert them to int or float

Print:

Sum

Difference

Product

Quotient

In [ ]:
num1 = float(input("Enter first number: "))         # Ask the user to input two numbers
num2 = float(input("Enter second number: "))
print("Sum:", num1 + num2)                         # Calculate and print results
print("Difference:", num1 - num2)
print("Product:", num1 * num2)
print("Quotient:", num1 / num2)

Enter first number: 5
Enter second number: 2
Sum: 7.0
Difference: 3.0
Product: 10.0
Quotient: 2.5

# Part 2: Lists & Indexing

# Q4. My Friends List
Create a list of 4 friends’ names.
Print each name using a for loop.

In [ ]:
friends = ["Abid", "Taha", "Kashaf", "Aswad"]         # Create a list of 4 friends' names
for friend in friends:                                # Print each name using a for loop
    print(friend)

Abid
Taha
Kashaf
Aswad

# ✅ Q5. Update Your List
Create a list of 3 favorite fruits.

Replace the second fruit with another.

Add one fruit to the end using .append().

Add one to the beginning using .insert(0, ...).

Print the list after each change.

In [ ]:
fruits = ["Mango", "Banana", "Apple"]                        # Step 1: Create a list of 3 favorite fruits
print("Original list:", fruits)                              # Step 2: Replace the second fruit (index 1)  #print function with arguments
fruits[1] = "Orange"
print("After replacing second fruit:", fruits)
fruits.append("Grapes")                                      # Step 3: Add one fruit to the end
print("After appending a fruit at the end:", fruits)
fruits.insert(0, "Strawberry")                               # Step 4: Add one fruit to the beginning
print("After inserting a fruit at the beginning:", fruits)

Original list: ['Mango', 'Banana', 'Apple']
After replacing second fruit: ['Mango', 'Orange', 'Apple']
After appending a fruit at the end: ['Mango', 'Orange', 'Apple', 'Grapes']
After inserting a fruit at the beginning: ['Strawberry', 'Mango', 'Orange', 'Apple', 'Grapes']

# ✅ Q6. List Length Reporter
Ask the user to enter 5 favorite animals (use input()).

Store each animal in a list.

After collecting:

Print the total number of animals using len()

Print the first and last animal using indexing

In [ ]:
# Ask the user to enter 5 favorite animals
animals = []
# Collect the animals using a loop
for i in range(5):
    animal = input(f"Enter your favorite animal #{i+1}: ")
    animals.append(animal)

# Print the total number of animals using len()
print("Total number of animals:", len(animals))

# Print the first and last animal using indexing
print("First animal:", animals[0])                                                          #print function with arguments
print("Last animal:", animals[-1])

Enter your favorite animal #1: horse
Enter your favorite animal #2: cow
Enter your favorite animal #3: bufalow
Enter your favorite animal #4: goat
Enter your favorite animal #5: donkey
Total number of animals: 5
First animal: horse
Last animal: donkey

# 🔁 Part 3: For Loops & Ranges

# ✅ Q7. Print Numbers
Use range() and for loop to:


Print numbers from 1 to 10

Print even numbers from 2 to 20

Print multiples of 5 from 5 to 5

In [ ]:
# Print numbers from 1 to 10
print("Numbers from 1 to 10:")
for num in range(1, 11):
    print(num)

# Print even numbers from 2 to 20
print("\nEven numbers from 2 to 20:")
for num in range(2, 21, 2):  # Start at 2, stop before 21, step 2 (even numbers)
    print(num)

# Print multiples of 5 from 5 to 50
print("\nMultiples of 5 from 5 to 50:")
for num in range(5, 51, 5):  # Start at 5, stop before 51, step 5 (multiples of 5)
    print(num)

Numbers from 1 to 10:
1
2
3
4
5
6
7
8
9
10

Even numbers from 2 to 20:
2
4
6
8
10
12
14
16
18
20

Multiples of 5 from 5 to 50:
5
10
15
20
25
30
35
40
45
50

# ✅ Q8. Squares Table

# Use a for loop to print square numbers from 1 to 10:

1 squared is 1  
2 squared is 4  
3 squared is 9  
...  
10 squared is 100

In [ ]:
# Use a for loop to print square numbers from 1 to 10
for num in range(1, 11):
    print(f"{num} squared is {num ** 2}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81
10 squared is 100

# 🧠 Part 4: List Comprehension & Slicing

# ✅ Q9. Make a List of Cubes
Use list comprehension to generate cubes of numbers 1–5.

Print the list.

# Output:
[1, 8, 27, 64, 125]

In [ ]:
# Use list comprehension to generate cubes of numbers 1–5
cubes = [num ** 3 for num in range(1, 6)]

# Print the list of cubes
print(cubes)

[1, 8, 27, 64, 125]

# ✅ Q10. Top 3 Movies
# Ask the user to enter 5 movie names using input().

Store them in a list.

Print:

The first 3 movies using slicing

The last 2 movies using slicing

In [ ]:
# Ask the user to enter 5 movie names
movies = []
for i in range(5):
    movie = input(f"Enter movie name #{i+1}: ")
    movies.append(movie)

# Print the first 3 movies using slicing
print("First 3 movies:", movies[:3])

# Print the last 2 movies using slicing
print("Last 2 movies:", movies[-2:])

Enter movie name #1: dangal
Enter movie name #2: krish
Enter movie name #3: sula
Enter movie name #4: race
Enter movie name #5: don
First 3 movies: ['dangal', 'krish', 'sula']
Last 2 movies: ['race', 'don']

# ✅ Q11. 🧑‍🏫 Top Students
# Ask the user to enter names of 5 students using input() (one by one).

Store the names in a list.

Then:

Print a greeting for each student using a for loop.

Print only the top 3 students using slicing.

Copy the list using [:], then:

Add 2 new names to the copied list using .append()
Print both the original and the new list to show that the original is unchanged.

In [ ]:
# Ask the user to enter names of 5 students
students = []
for i in range(5):
    student = input(f"Enter student name #{i+1}: ")
    students.append(student)

# Print a greeting for each student using a for loop
print("\nGreetings to all students:")
for student in students:
    print(f"Hello, {student}!")

# Print only the top 3 students using slicing
print("\nTop 3 students:", students[:3])

# Copy the list using [:] and add 2 new names to the copied list
students_copy = students[:]
students_copy.append("Alice")
students_copy.append("Bob")

# Print both the original and the new list to show that the original is unchanged
print("\nOriginal list of students:", students)
print("New list with added names:", students_copy)

Enter student name #1: abid
Enter student name #2: taha
Enter student name #3: aswad
Enter student name #4: ali
Enter student name #5: muhammad

Greetings to all students:
Hello, abid!
Hello, taha!
Hello, aswad!
Hello, ali!
Hello, muhammad!

Top 3 students: ['abid', 'taha', 'aswad']

Original list of students: ['abid', 'taha', 'aswad', 'ali', 'muhammad']
New list with added names: ['abid', 'taha', 'aswad', 'ali', 'muhammad', 'Alice', 'Bob']

# ✅ Q12. ✈️ Travel Wishlist
# Create a list of 5 places you want to visit.

Print the original list.

Print a temporarily sorted list using sorted().

Sort the list in reverse alphabetical order using .sort(reverse=True).

Use .reverse() twice:

First to flip and print the list
Then to flip it back and print again

In [ ]:
# Create a list of 5 places you want to visit
places = ["Paris", "Tokyo", "New York", "Sydney", "Rome"]

# Print the original list
print("Original list of places:", places)

# Print a temporarily sorted list using sorted()
print("\nTemporarily sorted list:", sorted(places))

# Sort the list in reverse alphabetical order using .sort(reverse=True)
places.sort(reverse=True)
print("\nList sorted in reverse alphabetical order:", places)

# Use .reverse() twice:
# First to flip and print the list
places.reverse()
print("\nList after flipping once:", places)

# Then to flip it back and print again
places.reverse()
print("\nList after flipping back:", places)

Original list of places: ['Paris', 'Tokyo', 'New York', 'Sydney', 'Rome']

Temporarily sorted list: ['New York', 'Paris', 'Rome', 'Sydney', 'Tokyo']

List sorted in reverse alphabetical order: ['Tokyo', 'Sydney', 'Rome', 'Paris', 'New York']

List after flipping once: ['New York', 'Paris', 'Rome', 'Sydney', 'Tokyo']

List after flipping back: ['Tokyo', 'Sydney', 'Rome', 'Paris', 'New York']

# 🎯 Mini Challenge: Name Art Generator

# Combine your understanding of input, lists, string slicing, for loops, and list length.

🧩 Task:
Ask the user to enter their name.

Convert the name to a list of characters.

Print each character on a new line using a for loop.

Then print:

The first 3 letters
The last 2 letters
The total number of letters using len()

In [ ]:
# Ask the user to enter their name
name = input("Enter your name: ")

# Convert the name to a list of characters
name_list = list(name)

# Print each character on a new line using a for loop
print("\nCharacters of your name:")
for char in name_list:
    print(char)

# Print the first 3 letters
print("\nThe first 3 letters:", name[:3])

# Print the last 2 letters
print("The last 2 letters:", name[-2:])

# Print the total number of letters using len()
print("Total number of letters:", len(name))

Enter your name: abid

Characters of your name:
a
b
i
d

The first 3 letters: abi
The last 2 letters: id
Total number of letters: 4

# 🔍 Sample Output (for Jahanzaib)
J  
a  
h  
a  
n  
z  
a  
i  
b  

First 3 letters: ['J', 'a', 'h']  
Last 2 letters: ['i', 'b']  
Total letters: 9

In [ ]:
name = "Jahanzaib"

# Print each letter on a new line
for letter in name:
    print(letter)

# Get parts of the name
first_three = list(name[:3])
last_two = list(name[-2:])
total = len(name)

# Print details
print("\nFirst 3 letters:", first_three)
print("Last 2 letters:", last_two)
print("Total letters:", total)

J
a
h
a
n
z
a
i
b

First 3 letters: ['J', 'a', 'h']
Last 2 letters: ['i', 'b']
Total letters: 9

Submitted By

Abid Ali

Roll nO: 256874

abidali431992@gmail.com